!node_modules/
node_modules/*
!node_modules/opencascade.js/
node_modules/opencascade.js/*
!node_modules/opencascade.js/LICENSE
!node_modules/opencascade.js/package.json
!node_modules/opencascade.js/dist/
node_modules/opencascade.js/dist/*
!node_modules/opencascade.js/dist/opencascade.full.js
!node_modules/opencascade.js/dist/opencascade.full.wasm
tmp

!dist
!dist/**
